<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
      http://code.alibabatech.com/schema/dubbo
      http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <!--声明应用名称-->
    <dubbo:application name="zxb-consumer"></dubbo:application>
    <!--声明注册中心-->
    <dubbo:registry address="zookeeper://127.0.0.1:2181"></dubbo:registry>

    <!--消费远程服务-->
    <dubbo:reference interface="com.example.demo.service.UserService" id="userService"></dubbo:reference>

    <bean class="consumer.service.OrderServiceImpl" id="orderService">
        <property name="userService" ref="userService"></property>
    </bean>
</beans>