<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
      http://code.alibabatech.com/schema/dubbo
      http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <!--声明应用名称-->
    <dubbo:application name="zxb-provider"></dubbo:application>
    <!--声明注册中心-->
    <dubbo:registry address="zookeeper://127.0.0.1:2181"></dubbo:registry>
    <!--dubbo协议-->
    <dubbo:protocol name="dubbo" port="8081"></dubbo:protocol>
    <!--声明暴露的服务-->
    <dubbo:service interface="com.example.demo.service.UserService" ref="userService"></dubbo:service>

    <bean class="com.example.demo.service.UserServiceImpl" id="userService"></bean>
</beans>